{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <div class="container mb-5">
            {{ include('task_time/_form_task.html.twig') }}
        </div>

        {% if true == is_visible_time_form %}

            {{ include('task_time/_form_time.html.twig') }}

        {% endif %}
    </div>
{% endblock %}
