{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <div class="container border__container padding__container mb-5">
            {{ include('task_time/_form_task.html.twig') }}
        </div>

        {% if true == is_visible_time_form %}

            <div class="container border__container padding__container mb-5">
                {{ include('task_time/_form_time.html.twig') }}
                {{ include('task_time/_table_finished_task.html.twig') }}
            </div>

        {% endif %}
    </div>
{% endblock %}
